---
title: The blog!
class: home
---

<section class="blocks">

    <!-- <a href="/about/" class="item">

        <h2>What is this about?</h2>

    </a> -->

    {% for post in site.posts %}

        <!-- Prepare image filename -->

        {% assign imgLink = post.title | remove: "." | remove: "," | remove: "'" | replace: "é", "e" | replace: " ", "-" %}
        {% assign imgClass = post.type | replace: "é", "e" | downcase %}

        <!-- Display each post as a wine bottle -->

        <a href="{{ post.url }}" class="item {% if imgClass == "purple" %} -b-misc {% else %} -b-{{ imgClass }} {% endif %}">

            <img srcset="/assets/img/wines/{{ imgLink }}@2x.png 2x, /assets/img/wines/{{ imgLink }}.png" src="/assets/img/wines/{{ imgLink }}@2x.png.png" alt="{{ post.title }}">

            <span class="type"></span>

            <h2>{{ post.title }}</h2>

            <p>
                {{ post.vintage }} &bull; {{ post.region }}
            </p>

            <div class="rating -{{ post.rating }}"></div>

        </a>

    {% endfor %}

</section>