<head>

    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Chosen Wines: {{ page.title }}</title>

    <meta name="description" content="Chosen Wines are on an impossible journey of reviewing wine without becoming pretentious snobs. Each week they will taste and review a new wine and discuss what they like about it and maybe what they don’t. This is the blog where you can read about each wine and find out where to buy.">
    <meta property="og:title" content="Chosen Wines: {{ page.title }}">
    <meta property="og:description" content="Chosen Wines are on an impossible journey of reviewing wine without becoming pretentious snobs. Each week they will taste and review a new wine and discuss what they like about it and maybe what they don’t. This is the blog where you can read about each wine and find out where to buy.">
    <meta property="og:image" content="/assets/img/cover.jpg">

    <link rel="image_src" href="/assets/img/cover.jpg">

    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161631493-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161631493-2');
    </script>

</head>
