@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

section.single .group .col.-img:before {
  box-sizing: border-box; }

body {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    body {
      padding: 80px 80px; } }
  @media screen and (max-width: 800px) {
    body {
      padding: 60px 60px; } }
  @media screen and (max-width: 640px) {
    body {
      padding: 40px 40px; } }
  @media screen and (max-width: 480px) {
    body {
      padding: 20px 20px; } }

main, header, footer {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    main, header, footer {
      width: 100%; } }

main, header, footer {
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXS2 {
    display: none; } }

@media screen and (max-width: 320px) {
  .hideXS3 {
    display: none; } }

body {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  background-color: white;
  background-image: repeating-linear-gradient(-145deg, white, white 5%, #fafafa, #fafafa 5% 10%);
  color: black; }
  body.about .title h1, body.wineGrapeQuiz .title h1 {
    width: 100%; }
  body.about {
    background-color: #FFFF90;
    background-image: repeating-linear-gradient(-145deg, #FFFF90, #FFFF90 5%, #ffff77, #ffff77 5% 10%); }
  body.wineGrapeQuiz {
    background-color: #FFC466;
    background-image: repeating-linear-gradient(-145deg, #85FFFF, #85FFFF 5%, #9fffff, #9fffff 5% 10%); }

main {
  position: relative;
  display: block;
  z-index: 1; }

header {
  position: relative;
  z-index: 20;
  margin-bottom: 100px;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    header {
      margin-bottom: 50px; } }
  @media screen and (max-width: 640px) {
    header {
      margin-bottom: 25px; } }
  header a.logoWrap {
    display: inline-block;
    position: relative;
    width: 20%; }
    @media screen and (max-width: 1024px) {
      header a.logoWrap {
        width: 50%; } }
    @media screen and (max-width: 640px) {
      header a.logoWrap {
        width: 80%; } }
    header a.logoWrap svg {
      position: relative;
      width: 100%;
      height: auto;
      overflow: visible; }
      header a.logoWrap svg .chosen, header a.logoWrap svg .wines {
        stroke: black;
        stroke-width: 5px; }
      header a.logoWrap svg .shadow {
        stroke: none;
        opacity: .9; }
      header a.logoWrap svg .chosen {
        fill: #FF99CC;
        -webkit-animation-name: logoA;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoA;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
        header a.logoWrap svg .chosen.-h {
          animation-delay: .2s; }
        header a.logoWrap svg .chosen.-o {
          animation-delay: .4s; }
        header a.logoWrap svg .chosen.-s {
          animation-delay: .6s; }
        header a.logoWrap svg .chosen.-e {
          animation-delay: .8s; }
        header a.logoWrap svg .chosen.-n {
          animation-delay: 1s; }
      header a.logoWrap svg .wines {
        fill: #B273FF;
        -webkit-animation-name: logoB;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoB;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
        header a.logoWrap svg .wines.-i {
          animation-delay: .2s; }
        header a.logoWrap svg .wines.-n {
          animation-delay: .4s; }
        header a.logoWrap svg .wines.-e {
          animation-delay: .6s; }
        header a.logoWrap svg .wines.-s {
          animation-delay: .8s; }

nav {
  display: block; }

footer {
  display: block;
  margin-top: 100px; }
  @media screen and (max-width: 1024px) {
    footer {
      margin-top: 50px; } }
  footer ul {
    width: 100%;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px; }
    @media screen and (max-width: 1024px) {
      footer ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16.66667px; } }
    @media screen and (max-width: 1024px) {
      footer ul li:first-child, footer ul li:last-child {
        text-align: center !important; } }
    footer ul li:first-child {
      text-align: left; }
      @media screen and (max-width: 1024px) {
        footer ul li:first-child {
          order: 5; } }
    footer ul li:last-child {
      text-align: right; }
    footer ul li a {
      text-transform: none; }

section {
  position: relative;
  z-index: 2;
  width: 100%; }
  section.blocks .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; }
    section.blocks .group a.item.about {
      background-image: repeating-linear-gradient(125deg, #DEFF7E, #DEFF7E 40px, #FFFF90, #FFFF90 40px 80px);
      box-shadow: 10px 10px 0 #DEFF7E; }
      section.blocks .group a.item.about:before {
        background-color: #DEFF7E; }
      section.blocks .group a.item.about:hover {
        box-shadow: -10px -10px 0 #FFFF90; }
    section.blocks .group a.item.quiz {
      background-image: repeating-linear-gradient(-125deg, #85FFFF, #85FFFF 40px, #7CFFA8, #7CFFA8 40px 80px);
      box-shadow: 10px 10px 0 #85FFFF; }
      section.blocks .group a.item.quiz:before {
        background-color: #85FFFF; }
      section.blocks .group a.item.quiz:hover {
        box-shadow: -10px -10px 0 #7CFFA8; }
    section.blocks .group a.item h2 {
      margin: auto;
      padding: 0; }
  section.blocks a.item {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    padding: 0 2%;
    border: 3px solid black;
    transition-property: background-color, box-shadow;
    transition-duration: 0.1s, 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear; }
    section.blocks a.item:before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-delay: 0s;
      transition-timing-function: linear; }
    section.blocks a.item:hover {
      background-color: #FFFF33; }
      section.blocks a.item:hover:before {
        opacity: 1; }
      section.blocks a.item:hover span.type {
        width: 120px; }
        section.blocks a.item:hover span.type:before {
          opacity: 1;
          transition-delay: .2s; }
      section.blocks a.item:hover img {
        -webkit-transform: translateY(-10px) scale(2.6) rotate(-6deg);
        -ms-transform: translateY(-10px) scale(2.6) rotate(-6deg);
        transform: translateY(-10px) scale(2.6) rotate(-6deg); }
    section.blocks a.item span.type, section.blocks a.item h2, section.blocks a.item p, section.blocks a.item .rating {
      z-index: 2;
      margin-top: auto;
      margin-bottom: auto; }
    section.blocks a.item span.type {
      position: absolute;
      top: 50%;
      right: 50px;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      border: 2px solid black;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      transition-property: width;
      transition-duration: 0.1s;
      transition-delay: 0s;
      transition-timing-function: linear; }
      section.blocks a.item span.type:before {
        content: attr(data-type);
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        opacity: 0;
        font-size: 14.66667px;
        pointer-events: none;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear; }
    section.blocks a.item h2 {
      position: relative;
      z-index: 0;
      padding-left: 120px;
      font-size: 3.4vmin !important;
      word-wrap: break-word;
      color: black; }
    section.blocks a.item p {
      margin-left: 25px;
      font-size: 20px;
      color: black !important; }
      section.blocks a.item p span:first-child:before {
        display: none; }
      section.blocks a.item p span:before {
        content: ' • ';
        padding: 0 4px; }
    section.blocks a.item .rating {
      margin-left: auto;
      margin-right: 150px;
      width: 160px;
      height: auto;
      font-size: 30px;
      text-align: right;
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px); }
    section.blocks a.item img {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 10px;
      width: auto;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
      transition-property: transform, opacity;
      transition-duration: 0.2s, 0.2s;
      transition-delay: 0s;
      transition-timing-function: linear;
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2); }
  section.single .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 10px solid black; }
    @media screen and (max-width: 1024px) {
      section.single .title {
        flex-direction: column; } }
    section.single .title h1 {
      display: block;
      padding: 0 5%;
      text-align: center;
      text-transform: uppercase; }
    section.single .title a {
      padding: 12px 22px;
      font-size: 18.33333px;
      background-color: #DEFF7E;
      color: black;
      border: 2px solid black;
      box-shadow: 5px 5px 0 #DEFF7E;
      transition-property: box-shadow, background-color;
      transition-duration: 0.1s, 0.1s;
      transition-delay: 0s;
      transition-timing-function: linear; }
      @media screen and (max-width: 800px) {
        section.single .title a {
          width: 100%;
          text-align: center; } }
      section.single .title a:hover {
        background-color: #FF99CC;
        box-shadow: -5px -5px 0 #FF99CC; }
      @media screen and (max-width: 1024px) {
        section.single .title a:first-child {
          display: none; } }
      section.single .title a.watchEpisode:after {
        content: '⬎';
        padding-left: 10px;
        font-size: 22px; }
      section.single .title a.watchEpisode.on:after {
        content: '⬏'; }
  section.single .vid {
    position: relative;
    display: none;
    margin-bottom: 50px;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden; }
    section.single .vid iframe, section.single .vid object, section.single .vid embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section.single .group {
    display: flex;
    align-items: flex-start;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      section.single .group {
        flex-direction: column; } }
    section.single .group .col {
      position: relative; }
      @media screen and (max-width: 1024px) {
        section.single .group .col {
          width: 100% !important;
          padding: 0 !important; } }
      section.single .group .col:first-child {
        width: 30%; }
      section.single .group .col:last-child {
        width: 70%;
        padding-left: 50px; }
      section.single .group .col.-img {
        padding: 80px;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%; }
        @media screen and (max-width: 1024px) {
          section.single .group .col.-img {
            padding: 40px;
            background-size: 100%;
            overflow: hidden;
            text-align: center; } }
        section.single .group .col.-img:before {
          content: '';
          position: absolute;
          top: 20%;
          left: 20%;
          width: 60%;
          height: 60%;
          border: 3px solid black; }
        section.single .group .col.-img img {
          position: relative;
          z-index: 2;
          width: 100%;
          -webkit-animation-name: bottleMove;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-delay: 0s;
          -webkit-animation-fill-mode: none;
          animation-name: bottleMove;
          animation-duration: 2s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-delay: 0s;
          animation-fill-mode: none; }
          @media screen and (max-width: 1024px) {
            section.single .group .col.-img img {
              padding: 20px 0;
              width: 50%;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); } }
    section.single .group p:first-child {
      margin-top: 50px; }
  section.single .details {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px; }
    @media screen and (max-width: 1440px) {
      section.single .details {
        grid-gap: 25px; } }
    @media screen and (max-width: 1024px) {
      section.single .details {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px; } }
    @media screen and (max-width: 640px) {
      section.single .details {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px; } }
    section.single .details .rating {
      width: auto; }
    section.single .details .item:nth-child(2n + 1) h3 {
      color: #B273FF;
      border-color: #B273FF; }
    section.single .details h3 {
      display: block;
      width: 100%;
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 3px solid #FF99CC;
      color: #FF99CC; }
  section.single .images {
    display: flex;
    height: 500px;
    margin-top: 50px; }
    section.single .images .pattern, section.single .images .rotate {
      border: 3px solid black; }
    section.single .images .pattern {
      width: 100%;
      height: 100%;
      margin-right: 33.33333px;
      background-image: repeating-linear-gradient(22deg, #85FFFF, #85FFFF 100px, #FFA1D5, #FFA1D5 100px 200px);
      overflow: hidden;
      box-shadow: 10px 10px 0 #85FFFF; }
      @media screen and (max-width: 1024px) {
        section.single .images .pattern {
          display: none; } }
      section.single .images .pattern img {
        width: 200%;
        height: 200%;
        background-size: 8%;
        background-position: 50% 50%;
        -webkit-transform: translateY(-50%) translateX(1%) scale(2);
        -ms-transform: translateY(-50%) translateX(1%) scale(2);
        transform: translateY(-50%) translateX(1%) scale(2); }
        @media screen and (max-width: 800px) {
          section.single .images .pattern img {
            display: none; } }
    section.single .images .rotate {
      width: 30%;
      height: 100%;
      margin-left: 33.33333px;
      background-color: #FFFF90;
      overflow: hidden;
      box-shadow: 10px 10px 0 #FFFF90; }
      @media screen and (max-width: 1024px) {
        section.single .images .rotate {
          width: 100%;
          margin: 0; } }
      section.single .images .rotate .inner {
        position: relative;
        height: 400%;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-name: bottleRotate;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: bottleRotate;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
        section.single .images .rotate .inner img {
          display: block;
          width: 100%;
          height: 25%;
          padding: 50px;
          object-fit: contain; }
  section .rating {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 39.6px;
    letter-spacing: 2px;
    color: black; }
    section .rating:before {
      content: '★★★★★';
      position: relative;
      z-index: 1;
      opacity: .2; }
    section .rating:after {
      content: '★★★★★';
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    section .rating.-na:before {
      content: '⦸'; }
    section .rating.-na:after {
      content: '⦸'; }
    section .rating.-half:after {
      width: 10%; }
    section .rating.-one:after {
      width: 20%; }
    section .rating.-onehalf:after {
      width: 30%; }
    section .rating.-two:after {
      width: 40%; }
    section .rating.-twohalf:after {
      width: 50%; }
    section .rating.-three:after {
      width: 60%; }
    section .rating.-threehalf:after {
      width: 70%; }
    section .rating.-four:after {
      width: 80%; }
    section .rating.-fourhalf:after {
      width: 90%; }
    section .rating.-five:after {
      width: 100%; }

.-b-sparkling {
  background-color: #ffffdd;
  box-shadow: 10px 10px 0 #FFFF90; }
  .-b-sparkling:before {
    background-color: #FFFF90; }
  .-b-sparkling:hover {
    box-shadow: -10px -10px 0 #FFFF90; }
  .-b-sparkling span.type {
    background-color: #FFFF90; }

.-p-sparkling .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffffaa, #ffffaa 50px, #ffffc3, #ffffc3 50px 100px); }
  .-p-sparkling .-img:before {
    box-shadow: 10px 10px 0 #FFFF90; }

.-r-sparkling {
  background-color: #FFFF90; }

.-b-white {
  background-color: #f2f2f2;
  box-shadow: 10px 10px 0 #e6e6e6; }
  .-b-white:before {
    background-color: #e6e6e6; }
  .-b-white:hover {
    box-shadow: -10px -10px 0 #e6e6e6; }
  .-b-white span.type {
    background-color: white; }

.-p-white .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ededed, #ededed 50px, #f7f7f7, #f7f7f7 50px 100px); }
  .-p-white .-img:before {
    box-shadow: 10px 10px 0 #f7f7f7; }

.-r-white {
  background-color: #f7f7f7; }

.-b-red {
  background-color: #ffecec;
  box-shadow: 10px 10px 0 #FF9F9F; }
  .-b-red:before {
    background-color: #FF9F9F; }
  .-b-red:hover {
    box-shadow: -10px -10px 0 #FF9F9F; }
  .-b-red span.type {
    background-color: #FF9F9F; }

.-p-red .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffb9b9, #ffb9b9 50px, #ffd2d2, #ffd2d2 50px 100px); }
  .-p-red .-img:before {
    box-shadow: 10px 10px 0 #FF9F9F; }

.-r-red {
  background-color: #FF9F9F; }

.-b-rose {
  background-color: #ffeef7;
  box-shadow: 10px 10px 0 #FFA1D5; }
  .-b-rose:before {
    background-color: #FFA1D5; }
  .-b-rose:hover {
    box-shadow: -10px -10px 0 #FFA1D5; }
  .-b-rose span.type {
    background-color: #FFA1D5; }

.-p-rose .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffbbe0, #ffbbe0 50px, #ffd4ec, #ffd4ec 50px 100px); }
  .-p-rose .-img:before {
    box-shadow: 10px 10px 0 #FFA1D5; }

.-r-rose {
  background-color: #FFA1D5; }

.-b-orange {
  background-color: #ffe2b3;
  box-shadow: 10px 10px 0 #FFC466; }
  .-b-orange:before {
    background-color: #FFC466; }
  .-b-orange:hover {
    box-shadow: -10px -10px 0 #FFC466; }
  .-b-orange span.type {
    background-color: #FFC466; }

.-p-orange .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffce80, #ffce80 50px, #ffd899, #ffd899 50px 100px); }
  .-p-orange .-img:before {
    box-shadow: 10px 10px 0 #FFC466; }

.-r-orange {
  background-color: #FFC466; }

.-b-sweet {
  background-color: #f0e8ff;
  box-shadow: 10px 10px 0 #C19BFF; }
  .-b-sweet:before {
    background-color: #C19BFF; }
  .-b-sweet:hover {
    box-shadow: -10px -10px 0 #C19BFF; }
  .-b-sweet span.type {
    background-color: #C19BFF; }

.-p-sweet .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #d1b5ff, #d1b5ff 50px, #e1ceff, #e1ceff 50px 100px); }
  .-p-sweet .-img:before {
    box-shadow: 10px 10px 0 #C19BFF; }

.-r-sweet {
  background-color: #C19BFF; }

.-b-misc {
  background-color: #c9ffdb;
  box-shadow: 10px 10px 0 #7CFFA8; }
  .-b-misc:before {
    background-color: #7CFFA8; }
  .-b-misc:hover {
    box-shadow: -10px -10px 0 #7CFFA8; }
  .-b-misc span.type {
    background-color: #7CFFA8; }

.-p-misc .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #96ffb9, #96ffb9 50px, #afffca, #afffca 50px 100px); }
  .-p-misc .-img:before {
    box-shadow: 10px 10px 0 #7CFFA8; }

.-r-misc {
  background-color: #7CFFA8; }

h1, h2, h3 {
  display: inline-block; }

h1 {
  font-family: "Arial", sans-serif;
  font-size: 64px;
  font-weight: 700; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 54px; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 44px; } }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 34px;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 30px;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    h3 {
      font-size: 20px; } }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #B273FF;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear; }
  a:hover {
    color: #FF99CC; }
  a.backLink {
    display: block;
    margin-bottom: 25px; }

p {
  margin-bottom: 33.33333px;
  font-size: 26.4px; }
  @media screen and (max-width: 640px) {
    p {
      font-size: 22px; } }
  p:last-child {
    margin-bottom: 0; }
  p a {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-transform: none; }

ol {
  counter-reset: c404; }
  ol.list li {
    position: relative;
    display: block;
    margin-bottom: 25px;
    padding-left: 60px;
    font-size: 30.8px;
    counter-increment: c404; }
    ol.list li:before {
      content: counter(c404);
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      background-color: #B273FF;
      color: black; }
    ol.list li:nth-child(2n + 1):before {
      background-color: #FF99CC; }

ul.tags li {
  display: inline-block; }
  ul.tags li:after {
    content: ','; }
  ul.tags li:nth-last-child(2):after {
    content: ' and '; }
  ul.tags li:last-child:after {
    content: '.'; }

@-webkit-keyframes logoP {
  0% {
    fill: #FF99CC; }
  49% {
    fill: #FF99CC; }
  50% {
    fill: #B273FF; }
  100% {
    fill: #B273FF; } }

@keyframes logoP {
  0% {
    fill: #FF99CC; }
  49% {
    fill: #FF99CC; }
  50% {
    fill: #B273FF; }
  100% {
    fill: #B273FF; } }

@-webkit-keyframes logoS {
  0% {
    fill: #B273FF; }
  49% {
    fill: #B273FF; }
  50% {
    fill: #FF99CC; }
  100% {
    fill: #FF99CC; } }

@keyframes logoS {
  0% {
    fill: #B273FF; }
  49% {
    fill: #B273FF; }
  50% {
    fill: #FF99CC; }
  100% {
    fill: #FF99CC; } }

@-webkit-keyframes logoA {
  0% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  49% {
    fill: #FF99CC; }
  50% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  99% {
    fill: #B273FF; }
  100% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes logoA {
  0% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  49% {
    fill: #FF99CC; }
  50% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  99% {
    fill: #B273FF; }
  100% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes logoB {
  0% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  49% {
    fill: #B273FF; }
  50% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  99% {
    fill: #FF99CC; }
  100% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes logoB {
  0% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  49% {
    fill: #B273FF; }
  50% {
    fill: #FF99CC;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  99% {
    fill: #FF99CC; }
  100% {
    fill: #B273FF;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes bottleMove {
  0% {
    -webkit-transform: scale(1.7) translateY(0) rotate(0deg);
    -ms-transform: scale(1.7) translateY(0) rotate(0deg);
    transform: scale(1.7) translateY(0) rotate(0deg); }
  50% {
    -webkit-transform: scale(1.7) translateY(-10px) rotate(1deg);
    -ms-transform: scale(1.7) translateY(-10px) rotate(1deg);
    transform: scale(1.7) translateY(-10px) rotate(1deg); }
  100% {
    -webkit-transform: scale(1.7) translateY(0) rotate(0deg);
    -ms-transform: scale(1.7) translateY(0) rotate(0deg);
    transform: scale(1.7) translateY(0) rotate(0deg); } }

@keyframes bottleMove {
  0% {
    -webkit-transform: scale(1.7) translateY(0) rotate(0deg);
    -ms-transform: scale(1.7) translateY(0) rotate(0deg);
    transform: scale(1.7) translateY(0) rotate(0deg); }
  50% {
    -webkit-transform: scale(1.7) translateY(-10px) rotate(1deg);
    -ms-transform: scale(1.7) translateY(-10px) rotate(1deg);
    transform: scale(1.7) translateY(-10px) rotate(1deg); }
  100% {
    -webkit-transform: scale(1.7) translateY(0) rotate(0deg);
    -ms-transform: scale(1.7) translateY(0) rotate(0deg);
    transform: scale(1.7) translateY(0) rotate(0deg); } }

@-webkit-keyframes bottleRotate {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  24.9999% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  49.9999% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  74.9999% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  75% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  99.9999% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bottleRotate {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  24.9999% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  49.9999% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  74.9999% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  75% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  99.9999% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

form {
  display: block; }
