@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

section.blocks a.item:before {
  box-sizing: border-box; }

body {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    body {
      padding: 80px 80px; } }
  @media screen and (max-width: 800px) {
    body {
      padding: 60px 60px; } }
  @media screen and (max-width: 640px) {
    body {
      padding: 40px 40px; } }
  @media screen and (max-width: 480px) {
    body {
      padding: 20px 20px; } }

main, header, footer {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    main, header, footer {
      width: 100%; } }

main, header, footer {
  margin-left: auto;
  margin-right: auto; }

section.single .title a.watchEpisode:after, section .rating {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXS2 {
    display: none; } }

@media screen and (max-width: 320px) {
  .hideXS3 {
    display: none; } }

body {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  background-color: white;
  color: black; }
  body.about {
    background-color: #FFFF90; }
    body.about .title h1 {
      width: 100%; }

main {
  position: relative;
  display: block;
  z-index: 1; }

header {
  position: relative;
  z-index: 20;
  margin-bottom: 100px;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    header {
      margin-bottom: 50px; } }
  @media screen and (max-width: 640px) {
    header {
      margin-bottom: 25px; } }
  header a.logoWrap {
    display: inline-block;
    position: relative;
    width: 20%; }
    @media screen and (max-width: 1024px) {
      header a.logoWrap {
        width: 50%; } }
    @media screen and (max-width: 640px) {
      header a.logoWrap {
        width: 80%; } }
    header a.logoWrap svg {
      position: relative;
      width: 100%;
      height: auto; }
      header a.logoWrap svg .chosen .-c, header a.logoWrap svg .chosen .-o, header a.logoWrap svg .chosen .-e {
        fill: #FF99CC;
        stroke: #FF99CC;
        -webkit-animation-name: logoP;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoP;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
      header a.logoWrap svg .chosen .-h, header a.logoWrap svg .chosen .-s, header a.logoWrap svg .chosen .-n {
        fill: #B273FF;
        stroke: #B273FF;
        -webkit-animation-name: logoS;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoS;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
      header a.logoWrap svg .wines .-w, header a.logoWrap svg .wines .-n, header a.logoWrap svg .wines .-s {
        fill: #FF99CC;
        stroke: #FF99CC;
        -webkit-animation-name: logoP;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoP;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
      header a.logoWrap svg .wines .-i, header a.logoWrap svg .wines .-e {
        fill: #B273FF;
        stroke: #B273FF;
        -webkit-animation-name: logoS;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logoS;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }

nav {
  display: block; }

footer {
  display: block;
  margin-top: 100px; }
  @media screen and (max-width: 1024px) {
    footer {
      margin-top: 50px; } }
  footer ul {
    width: 100%;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px; }
    @media screen and (max-width: 1024px) {
      footer ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16.66667px; } }
    @media screen and (max-width: 1024px) {
      footer ul li:first-child, footer ul li:last-child {
        text-align: center !important; } }
    footer ul li:first-child {
      text-align: left; }
      @media screen and (max-width: 1024px) {
        footer ul li:first-child {
          order: 5; } }
    footer ul li:last-child {
      text-align: right; }
    footer ul li a {
      text-transform: none; }

section {
  position: relative;
  z-index: 2;
  width: 100%; }
  section.blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px; }
    @media screen and (max-width: 480px) {
      section.blocks {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); } }
    section.blocks a.item {
      position: relative;
      padding: 80px; }
      @media screen and (max-width: 480px) {
        section.blocks a.item {
          padding: 50px; } }
      section.blocks a.item:first-child {
        background-image: repeating-radial-gradient(circle at 0 0, #FFFF90, #FFFF90 10%, #DEFF7E, #DEFF7E 10% 20%); }
        section.blocks a.item:first-child:before {
          border-color: #FFFF33; }
        section.blocks a.item:first-child:after {
          display: none; }
        section.blocks a.item:first-child h2 {
          color: #B273FF !important;
          opacity: 1; }
      section.blocks a.item:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border: 10px solid transparent;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear; }
      section.blocks a.item:after {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 30px;
        height: 30px; }
      section.blocks a.item:hover:before {
        opacity: .5; }
      section.blocks a.item:hover img {
        -webkit-transform: translateY(-10px) scale(3.2) rotate(-6deg);
        -ms-transform: translateY(-10px) scale(3.2) rotate(-6deg);
        transform: translateY(-10px) scale(3.2) rotate(-6deg); }
        section.blocks a.item:hover img.shadow {
          opacity: .2;
          -webkit-transform: translateY(-50%) translateX(-30%) scale(1.6) rotate(10deg);
          -ms-transform: translateY(-50%) translateX(-30%) scale(1.6) rotate(10deg);
          transform: translateY(-50%) translateX(-30%) scale(1.6) rotate(10deg); }
      section.blocks a.item .rating {
        position: absolute;
        z-index: 2;
        width: auto;
        top: 20px;
        right: 20px;
        color: #B273FF;
        transform-origin: 100% 0;
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6); }
      section.blocks a.item img {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2); }
        section.blocks a.item img.shadow {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          transform-origin: 0 0;
          opacity: .6;
          -webkit-transform: translateY(20px) translateX(30px) scale(0.8) rotate(10deg);
          -ms-transform: translateY(20px) translateX(30px) scale(0.8) rotate(10deg);
          transform: translateY(20px) translateX(30px) scale(0.8) rotate(10deg); }
      section.blocks a.item h2 {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 5%;
        width: 90%;
        font-size: 5vmin !important;
        line-height: 1;
        word-wrap: break-word;
        text-align: center;
        opacity: .05;
        color: black;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition-property: font-size;
        transition-duration: 0.2s;
        transition-delay: 0s;
        transition-timing-function: linear; }
        @media screen and (max-width: 640px) {
          section.blocks a.item h2 {
            font-size: 10vmin !important; } }
  section.single .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 10px solid black; }
    @media screen and (max-width: 1024px) {
      section.single .title {
        flex-direction: column; } }
    section.single .title h1 {
      display: block;
      text-align: center; }
    section.single .title a {
      padding: 12px 22px;
      background-color: #B273FF;
      color: white;
      transition-property: background-color;
      transition-duration: 0.1s;
      transition-delay: 0s;
      transition-timing-function: linear; }
      @media screen and (max-width: 800px) {
        section.single .title a {
          width: 100%;
          text-align: center; } }
      section.single .title a:hover {
        background-color: #FF99CC; }
      @media screen and (max-width: 1024px) {
        section.single .title a:first-child {
          display: none; } }
      section.single .title a.watchEpisode {
        padding-right: 40px; }
        section.single .title a.watchEpisode:after {
          content: 'expand_more';
          position: absolute;
          right: 10px;
          font-size: 26.4px; }
        section.single .title a.watchEpisode.on:after {
          content: 'expand_less'; }
  section.single .vid {
    position: relative;
    display: none;
    margin-bottom: 50px;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden; }
    section.single .vid iframe, section.single .vid object, section.single .vid embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section.single .group {
    display: flex;
    align-items: flex-start;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      section.single .group {
        flex-direction: column; } }
    section.single .group .col {
      position: relative; }
      @media screen and (max-width: 1024px) {
        section.single .group .col {
          width: 100% !important;
          padding: 0 !important; } }
      section.single .group .col:first-child {
        width: 30%; }
      section.single .group .col:last-child {
        width: 70%;
        padding-left: 50px; }
      section.single .group .col.-img {
        padding: 80px;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%; }
        @media screen and (max-width: 1024px) {
          section.single .group .col.-img {
            padding: 40px;
            background-size: 100%;
            overflow: hidden;
            text-align: center; } }
        section.single .group .col.-img img {
          position: relative;
          z-index: 2;
          width: 100%;
          -webkit-animation-name: bottleMove;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-delay: 0s;
          -webkit-animation-fill-mode: none;
          animation-name: bottleMove;
          animation-duration: 2s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-delay: 0s;
          animation-fill-mode: none; }
          @media screen and (max-width: 1024px) {
            section.single .group .col.-img img {
              padding: 20px 0;
              width: 50%;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); } }
    section.single .group p:first-child {
      margin-top: 50px; }
  section.single .details {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px; }
    @media screen and (max-width: 1440px) {
      section.single .details {
        grid-gap: 25px; } }
    @media screen and (max-width: 1024px) {
      section.single .details {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px; } }
    @media screen and (max-width: 640px) {
      section.single .details {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px; } }
    section.single .details .item:nth-child(2n + 1) h3 {
      color: #B273FF;
      border-color: #B273FF; }
    section.single .details h3 {
      display: block;
      width: 100%;
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 3px solid #FF99CC;
      color: #FF99CC; }
  section.single .images {
    display: flex;
    height: 500px;
    overflow: hidden;
    margin-top: 50px; }
    section.single .images .pattern {
      width: 100%;
      height: 100%;
      margin-right: 33.33333px;
      background-image: conic-gradient(from 20deg at 50% -10%, #7CFFA8 0%, #7CFFA8 20%, #FFFF90 20%, #FFFF90 40%, #85FFFF 40%, #85FFFF 60%, #7CFFA8 60%, #7CFFA8 80%, #FFFF90 80%, #FFFF90 100%);
      overflow: hidden; }
      section.single .images .pattern img {
        width: 200%;
        height: 200%;
        background-size: 8%;
        background-position: 50% 50%;
        -webkit-transform: translateY(-50%) translateX(1%) scale(2);
        -ms-transform: translateY(-50%) translateX(1%) scale(2);
        transform: translateY(-50%) translateX(1%) scale(2); }
        @media screen and (max-width: 800px) {
          section.single .images .pattern img {
            display: none; } }
    section.single .images .rotate {
      width: 30%;
      height: 400%;
      margin-left: 33.33333px;
      background-color: #FFFF90;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-name: bottleRotate;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      -webkit-animation-fill-mode: none;
      animation-name: bottleRotate;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 0s;
      animation-fill-mode: none; }
      section.single .images .rotate img {
        display: block;
        width: 100%;
        height: 25%;
        padding: 50px;
        object-fit: contain; }
  section .rating {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 39.6px;
    line-height: 1;
    letter-spacing: -6px;
    color: black; }
    section .rating:before {
      content: 'star_border star_border star_border star_border star_border';
      position: relative;
      z-index: 2; }
    section .rating:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%; }
    section .rating.-half:after {
      content: 'star_half'; }
    section .rating.-one:after {
      content: 'star'; }
    section .rating.-onehalf:after {
      content: 'star star_half'; }
    section .rating.-two:after {
      content: 'star star'; }
    section .rating.-twohalf:after {
      content: 'star star star_half'; }
    section .rating.-three:after {
      content: 'star star star'; }
    section .rating.-threehalf:after {
      content: 'star star star star_half'; }
    section .rating.-four:after {
      content: 'star star star star'; }
    section .rating.-fourhalf:after {
      content: 'star star star star star_half'; }
    section .rating.-five:after {
      content: 'star star star star star'; }

.-b-sparkling {
  background-color: #ffffdd; }
  .-b-sparkling:after {
    background-color: #FFFF90; }
  .-b-sparkling:before {
    border-color: #FFFF90 !important; }

.-p-sparkling .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffffaa, #ffffaa 50px, #ffffc3, #ffffc3 50px 100px); }

.-r-sparkling {
  background-color: #FFFF90; }

.-b-white {
  background-color: #f7f7f7; }
  .-b-white:after {
    background-color: white; }
  .-b-white:before {
    border-color: white !important; }

.-p-white .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ededed, #ededed 50px, #f7f7f7, #f7f7f7 50px 100px); }

.-r-white {
  background-color: #f7f7f7; }

.-b-red {
  background-color: #ffecec; }
  .-b-red:after {
    background-color: #FF9F9F; }
  .-b-red:before {
    border-color: #FF9F9F !important; }

.-p-red .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffb9b9, #ffb9b9 50px, #ffd2d2, #ffd2d2 50px 100px); }

.-r-red {
  background-color: #FF9F9F; }

.-b-rose {
  background-color: #ffeef7; }
  .-b-rose:after {
    background-color: #FFA1D5; }
  .-b-rose:before {
    border-color: #FFA1D5 !important; }

.-p-rose .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffbbe0, #ffbbe0 50px, #ffd4ec, #ffd4ec 50px 100px); }

.-r-rose {
  background-color: #FFA1D5; }

.-b-orange {
  background-color: #ffe2b3; }
  .-b-orange:after {
    background-color: #FFC466; }
  .-b-orange:before {
    border-color: #FFC466 !important; }

.-p-orange .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #ffce80, #ffce80 50px, #ffd899, #ffd899 50px 100px); }

.-r-orange {
  background-color: #FFC466; }

.-b-sweet {
  background-color: #f0e8ff; }
  .-b-sweet:after {
    background-color: #C19BFF; }
  .-b-sweet:before {
    border-color: #C19BFF !important; }

.-p-sweet .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #d1b5ff, #d1b5ff 50px, #e1ceff, #e1ceff 50px 100px); }

.-r-sweet {
  background-color: #C19BFF; }

.-b-misc {
  background-color: #c9ffdb; }
  .-b-misc:after {
    background-color: #7CFFA8; }
  .-b-misc:before {
    border-color: #7CFFA8 !important; }

.-p-misc .-img {
  background-image: repeating-radial-gradient(circle at 0% 0%, #96ffb9, #96ffb9 50px, #afffca, #afffca 50px 100px); }

.-r-misc {
  background-color: #7CFFA8; }

h1, h2, h3 {
  display: inline-block; }

h1 {
  font-family: "Arial", sans-serif;
  font-size: 72px;
  font-weight: 700; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 62px; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 52px; } }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 34px;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 30px;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    h3 {
      font-size: 20px; } }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #B273FF;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear; }
  a:hover {
    color: #FF99CC; }
  a.backLink {
    display: block;
    margin-bottom: 25px; }

p {
  margin-bottom: 33.33333px;
  font-size: 26.4px; }
  @media screen and (max-width: 640px) {
    p {
      font-size: 22px; } }
  p:last-child {
    margin-bottom: 0; }
  p a {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-transform: none; }

ol {
  counter-reset: c404; }
  ol.list li {
    position: relative;
    display: block;
    margin-bottom: 25px;
    padding-left: 60px;
    font-size: 30.8px;
    counter-increment: c404; }
    ol.list li:before {
      content: counter(c404);
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      background-color: #B273FF;
      color: black; }
    ol.list li:nth-child(2n + 1):before {
      background-color: #FF99CC; }

ul.tags li {
  display: inline-block; }
  ul.tags li:after {
    content: ','; }
  ul.tags li:nth-last-child(2):after {
    content: ' and '; }
  ul.tags li:last-child:after {
    content: '.'; }

@-webkit-keyframes logoP {
  0% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  49% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  50% {
    fill: #B273FF;
    stroke: #B273FF; }
  100% {
    fill: #B273FF;
    stroke: #B273FF; } }

@keyframes logoP {
  0% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  49% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  50% {
    fill: #B273FF;
    stroke: #B273FF; }
  100% {
    fill: #B273FF;
    stroke: #B273FF; } }

@-webkit-keyframes logoS {
  0% {
    fill: #B273FF;
    stroke: #B273FF; }
  49% {
    fill: #B273FF;
    stroke: #B273FF; }
  50% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  100% {
    fill: #FF99CC;
    stroke: #FF99CC; } }

@keyframes logoS {
  0% {
    fill: #B273FF;
    stroke: #B273FF; }
  49% {
    fill: #B273FF;
    stroke: #B273FF; }
  50% {
    fill: #FF99CC;
    stroke: #FF99CC; }
  100% {
    fill: #FF99CC;
    stroke: #FF99CC; } }

@-webkit-keyframes bottleMove {
  0% {
    -webkit-transform: scale(1.4) translateY(0) rotate(0deg);
    -ms-transform: scale(1.4) translateY(0) rotate(0deg);
    transform: scale(1.4) translateY(0) rotate(0deg); }
  50% {
    -webkit-transform: scale(1.4) translateY(-10px) rotate(1deg);
    -ms-transform: scale(1.4) translateY(-10px) rotate(1deg);
    transform: scale(1.4) translateY(-10px) rotate(1deg); }
  100% {
    -webkit-transform: scale(1.4) translateY(0) rotate(0deg);
    -ms-transform: scale(1.4) translateY(0) rotate(0deg);
    transform: scale(1.4) translateY(0) rotate(0deg); } }

@keyframes bottleMove {
  0% {
    -webkit-transform: scale(1.4) translateY(0) rotate(0deg);
    -ms-transform: scale(1.4) translateY(0) rotate(0deg);
    transform: scale(1.4) translateY(0) rotate(0deg); }
  50% {
    -webkit-transform: scale(1.4) translateY(-10px) rotate(1deg);
    -ms-transform: scale(1.4) translateY(-10px) rotate(1deg);
    transform: scale(1.4) translateY(-10px) rotate(1deg); }
  100% {
    -webkit-transform: scale(1.4) translateY(0) rotate(0deg);
    -ms-transform: scale(1.4) translateY(0) rotate(0deg);
    transform: scale(1.4) translateY(0) rotate(0deg); } }

@-webkit-keyframes bottleRotate {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  24.9999% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  49.9999% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  74.9999% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  75% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  99.9999% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bottleRotate {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  24.9999% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  49.9999% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  74.9999% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  75% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  99.9999% {
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

form {
  display: block; }
