---
title: "M. De Ligny Le Rose Brut - A sparkling wine."
type: "Sparkling"
tags: [sweet, such]
vintage: "2018"
grape: "xxx"
abv: "xxx"
region: "Australia"
pairings: [pizza,taste]
rating: "four"
---

<section class="post">

    <h1 class="{{ page.type | downcase }}">M. De Ligny Le Rose Brut</h1>

    <div class="review">

        <p>
            Appearance clear, deep salmon. On the nose, clean fairly pronounced red berries &amp; honey. On the palate quite tart, raspberry notes, little floral bit of citrusy lemon flavours too. Which leaves it really acidic, light bodied.  With a medium finish. I would say it is a good to very good wine. I would pair with a gooey chocolate brownie. Although also went really well with some aburi salmon.
        </p>

        <div class="img"></div>

    </div>

    <div class="details">

        <div class="item">

            <h2>Wine details</h2>

            <ul>
                <li>Type: <span>{{ page.type }}</span></li>
                <li>Vintage: <span>{{ page.vintage }}</span></li>
                <li>Grape: <span>{{ page.grape }}</span></li>
                <li>ABV: <span>{{ page.abv }}%</span></li>
                <li>Region: <span>{{ page.region }}</span></li>
            </ul>

        </div>

        <div class="item">
            <h2>Our rating:</h2>
            <span class="rating -{{ page.rating }}"></span>
        </div>

        <div class="item">

            <h2>Food pairings:</h2>

            <ul>
                {% for pairing in page.pairings %}
                <li>{{ pairing }}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="item">

            <h2>Tags:</h2>

            <ul>
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>

        </div>

    </div>

</section>