// Footer

footer

    display: block

    margin-top: $globalSpace

    @extend %maxWidth
    @extend %center

    // Responsive

    +screen($md)

        margin-top: $globalSpace / 2

    // Children

    ul

        width: 100%

        padding-top: 20px

        font-size: $fontBase - 4px
        text-align: center

        border-top: 2px solid rgba($dark, .1)

        +grid(5,1fr,$globalSpace / 4)

        // Responsive

        +screen($md)

            +grid(1,1fr,$globalSpace / 6)

        // Children

        li

            // Pseudo

            &:first-child, &:last-child

                // Responsive

                +screen($md)

                    text-align: center !important

            &:first-child

                text-align: left

                // Responsive

                +screen($md)

                    order: 5

            &:last-child

                text-align: right

            // Children

            a

                text-transform: none