// Header

header

    position: relative
    z-index: 20

    margin-bottom: $globalSpace

    text-align: center

    @extend %maxWidth
    @extend %center

    // Responsive

    +screen($md)

        margin-bottom: $globalSpace / 2

    +screen($xs)

        margin-bottom: $globalSpace / 4

    // Children

    a.logoWrap

        display: inline-block
        position: relative

        width: 20%

        // Responsive

        +screen($md)

            width: 50%

        +screen($xs)

            width: 80%

        // Children

        svg

            position: relative

            width: 100%
            height: auto

            // Children

            .chosen, .wines

                stroke-width: .03

            .chosen

                &.-c, &.-o, &.-e

                    fill: $tertiary
                    stroke: $primary

                    +animation(logoP, 1s, linear, infinite)

                &.-h, &.-s, &.-n

                    fill: $secondary
                    stroke: $secondary


                    +animation(logoS, 1s, linear, infinite)

            .wines

                &.-w, &.-n, &.-s

                    fill: $secondary
                    stroke: $secondary

                    +animation(logoS, 1s, linear, infinite)

                &.-i, &.-e

                    fill: $primary
                    stroke: $secondary

                    +animation(logoP, 1s, linear, infinite)