// Section

section

    position: relative
    z-index: 2

    width: 100%

    // Classes

    &.blocks

        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        grid-gap: $globalSpace / 4

        // Responsive

        +screen($xs2)

            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

        // Children

        a.item

            position: relative

            padding: 80px

            // Responsive

            +screen($xs2)

                padding: 50px

            // Pseudo

            &:first-child

                $g1: $a8
                $g2: $a2

                background-image: repeating-radial-gradient(circle at 0 0, $g1, $g1 10%, $g2, $g2 10% 20%)

                // Pseudo

                &:before

                    border-color: $tertiary

                &:after

                    display: none

                // Children

                h2

                    color: $secondary !important

                    opacity: 1

            &:before

                content: ''

                position: absolute
                z-index: 0

                top: 0
                left: 0

                width: 100%
                height: 100%

                opacity: 0

                border: 10px solid transparent

                @extend %boxSize

                +transition(opacity, .1s)

            &:after

                $s: 30px

                content: ''

                position: absolute

                bottom: 20px
                left: 20px

                width: $s
                height: $s

            // States

            &:hover

                // Pseudo

                &:before

                    opacity: .5

                // Children

                img

                    +transform((translateY, scale, rotate), (-10px, 3.2, -6deg))

                    // Classes

                    &.shadow

                        opacity: .2

                        +transform((translateY, translateX, scale, rotate), (-50%, -30%, 1.6, 10deg))

            // Children

            .rating

                position: absolute
                z-index: 2

                width: auto

                top: 20px
                right: 20px

                color: $secondary

                transform-origin: 100% 0

                +transform(scale, .6)

            img

                position: relative
                z-index: 3

                width: 100%
                height: 100%

                object-fit: contain
                pointer-events: none

                // +transition(transform, .2s)
                +transform(scale, 2)

                // Classes

                &.shadow

                    position: absolute
                    z-index: 2

                    top: 0
                    left: 0

                    transform-origin: 0 0
                    opacity: .6

                    +transform((translateY, translateX, scale, rotate), (20px, 30px, .8, 10deg))

            h2

                position: absolute
                z-index: 0

                top: 50%
                left: 5%

                width: 90%

                font-size: 5vmin !important
                line-height: 1
                word-wrap: break-word
                text-align: center

                opacity: .05

                color: $dark

                +transform(translateY, -50%)
                +transition(font-size, .2s)

                // Responsive

                +screen($xs)

                    font-size: 10vmin !important

    &.single

        // Children

        .title

            display: flex
            justify-content: space-between
            align-items: center

            margin-bottom: $globalSpace / 2
            padding-bottom: $globalSpace / 4

            border-bottom: 10px solid $dark

            // Responsive

            +screen($md)

                flex-direction: column

            // Children

            h1

                display: block

                padding: 0 5%

                text-align: center

            a

                padding: 12px 22px

                background-color: $secondary
                color: $light

                +transition(background-color, .1s)

                // Responsive

                +screen($sm)

                    width: 100%

                    text-align: center

                // States

                &:hover

                    background-color: $primary

                // Pseudo

                &:first-child

                    // Responsive

                    +screen($md)

                        display: none

                // Classes

                &.watchEpisode

                    padding-right: 40px

                    // Pseudo

                    &:after

                        content: 'expand_more'

                        position: absolute
                        right: 10px

                        font-size: $fontBase * 1.2

                        @extend %icon

                    // Classes

                    &.on:after

                        content: 'expand_less'

        .vid

            position: relative
            display: none

            margin-bottom: $globalSpace / 2
            padding-bottom: 56.25%

            height: 0
            max-width: 100%

            overflow: hidden

            // Children

            iframe, object, embed

                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%

        .group

            display: flex
            align-items: flex-start

            width: 100%

            // Responsive

            +screen($md)

                flex-direction: column

            // Children

            .col

                position: relative

                // Responsive

                +screen($md)

                    width: 100% !important

                    padding: 0 !important

                // Pseudo

                &:first-child

                    width: 30%

                &:last-child

                    width: 70%

                    padding-left: $globalSpace / 2

                // Classes

                &.-img

                    padding: 80px

                    background-size: 60% 60%
                    background-repeat: no-repeat
                    background-position: 50% 50%

                    // Responsive

                    +screen($md)

                        padding: 40px

                        background-size: 100%

                        overflow: hidden

                        text-align: center

                    // Children

                    img

                        position: relative
                        z-index: 2

                        width: 100%

                        +animation(bottleMove, 2s, linear, infinite)

                        // Responsive

                        +screen($md)

                            padding: 20px 0
                            width: 50%

                            +transform(scale, 1)

            p:first-child

                margin-top: $globalSpace / 2

        .details

            width: 100%

            margin-top: $globalSpace

            +grid(4, 1fr, $globalSpace / 2)

            // Responsive

            +screen($lg)

                grid-gap: $globalSpace / 4

            +screen($md)

                margin-top: $globalSpace / 2

                +grid(2, 1fr, $globalSpace / 2)

            +screen($xs)

                margin-top: $globalSpace / 4

                +grid(1, 1fr, $globalSpace / 4)

            // Children

            .rating

                width: auto

            .item

                // Pseudo

                &:nth-child(2n + 1)

                    // Children

                    h3

                        color: $secondary
                        border-color: $secondary

            h3

                display: block

                width: 100%

                margin-bottom: 25px
                padding-bottom: 10px

                border-bottom: 3px solid $primary

                color: $primary

            ul

        .images

            display: flex

            height: 500px

            overflow: hidden

            margin-top: $globalSpace / 2

            // Children

            .pattern

                width: 100%
                height: 100%

                margin-right: $globalSpace / 3

                background-image: repeating-linear-gradient(22deg, $a4, $a4 100px, $a7, $a7 100px 200px)

                overflow: hidden

                +screen($md)

                    display: none

                // Children

                img

                    width: 200%
                    height: 200%

                    background-size: 8%
                    background-position: 50% 50%

                    +transform((translateY, translateX, scale), (-50%, 1%, 2))

                    // Responsive

                    +screen($sm)

                        display: none

            .rotate

                width: 30%
                height: 400%

                margin-left: $globalSpace / 3

                background-color: $a8

                +transform(translateY, 0)
                +animation(bottleRotate, 1s, linear, infinite)

                +screen($md)

                    width: 100%

                    margin: 0

                // Children

                img

                    display: block

                    width: 100%
                    height: 25%

                    padding: 50px

                    object-fit: contain




    // Children

    .rating

        position: relative

        width: 100%
        height: 50px

        font-size: $fontBase * 1.8
        letter-spacing: 2px

        color: $dark

        // Pseudo

        &:before

            content: '⭐️⭐️⭐️⭐⭐️'

            position: relative
            z-index: 1

            opacity: .5

            +filter(saturate, 0%)

        &:after

            content: '⭐️⭐️⭐️⭐️⭐️'

            position: absolute
            z-index: 2

            left: 0

            width: 100%
            height: 100%

            overflow: hidden

        // Classes

        &.-na

            // Pseudo

            &:before

                content: '🚫'

            &:after

                content: ''

        &.-half:after

            width: 10%

        &.-one:after

            width: 20%

        &.-onehalf:after

            width: 30%

        &.-two:after

            width: 40%

        &.-twohalf:after

            width: 50%

        &.-three:after

            width: 60%

        &.-threehalf:after

            width: 70%

        &.-four:after

            width: 80%

        &.-fourhalf:after

            width: 90%

        &.-five:after

            width: 100%