// Helpers

// Layout

%boxSize

    box-sizing: border-box

%padding

    +padding($globalSpace, $globalSpace, $globalSubtract, $paddingList)

%maxWidth

    +maxWidth($maxWidth)

%center

    margin-left: auto
    margin-right: auto

// Typography

%font

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

%fontHead

    font-family: $fontHead
    font-weight: 400

    text-decoration: none

%fontText

    font-family: $fontText
    font-weight: 400

%bold

    font-weight: 700

%italic

    font-style: italic

%icon

    font-weight: normal
    font-style: normal
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga'

// Button

%btn

    padding: 12px 22px

    font-size: $fontBase / 1.2

    background-color: $a2
    color: $dark

    border: $borderW solid $dark
    box-shadow: 5px 5px 0 $a2

    +transition((box-shadow, background-color), (.1s, .1s))

    // Responsive

    +screen($sm)

        width: 100%

        text-align: center

    // States

    &:hover

        background-color: $primary

        box-shadow: -5px -5px 0 $primary

    // Pseudo

    &:first-child

        // Responsive

        +screen($md)

            display: none

// Hide

@each $label, $size in $hideList

    .hide#{$label}

        +screen($size)

            display: none