// Variables

// Colours

$c1:                        #FF7E79
$c2:                        #7A81FF
$c3:                        #FFE700
$c4:                        black
$c5:                        white

$primary:                   $c1
$secondary:                 $c2
$tertiary:                  $c3
$dark:                      $c4
$light:                     $c5

$text:                      $dark
$link:                      $secondary
$bg:                        $light
$splash:                    $tertiary
$highlight:                 $secondary

$palette:                   (Primary $primary, Secondary $secondary, Tertiary $tertiary ,Dark $dark, Light $light)

// Wines

$sparkling:                 #F0E68C
$white:                     #eeeeee
$red:                       #DC143C
$rose:                      #FFC0CB
$orange:                    #FFA07A
$sweet:                     #BA55D3

$wineList:                  (sparkling $sparkling, white $white, red $red, rose $rose, orange $orange, sweet $sweet,)

// Fonts

$fontHead:                  'Arial', sans-serif
$fontText:                  'Arial', sans-serif
$fontIcon:                  'Material Icons'

$fontBase:                  22px

$h1:                        72px
$h2:                        34px
$h3:                        30px

// Sizes

$globalSpace:               100px
$globalSubtract:            20px
$headerHeight:              50px
$footerHeight:              50px

$xl:                        1600px
$lg:                        1440px
$md:                        1024px
$sm:                        800px
$xs:                        640px
$xxs:                       480px

$maxWidth:                  $xl

$paddingList:               ($md, $sm, $xs, $xxs)
$hideList:                  (XL $xl, LG $lg, MD $md, SM $sm, XS $xs, XXS $xxs)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'