// Variables

// Colours

$c1:                        #FF99CC
$c2:                        #B273FF
$c3:                        #FFFF33
$c4:                        black
$c5:                        white

$a1:                        #7CFFA8
$a2:                        #DEFF7E
$a3:                        #FFC466
$a4:                        #85FFFF
$a5:                        #C19BFF
$a6:                        #FF9F9F
$a7:                        #FFA1D5
$a8:                        #FFFF90


$primary:                   $c1
$secondary:                 $c2
$tertiary:                  $c3
$dark:                      $c4
$light:                     $c5

$text:                      $dark
$link:                      $secondary
$bg:                        $light
$splash:                    $tertiary
$highlight:                 $secondary

$palette:                   (Primary $primary, Secondary $secondary, Tertiary $tertiary ,Dark $dark, Light $light)

// Wines

$sparkling:                 $a8
$white:                     $c5
$red:                       $a6
$rose:                      $a7
$orange:                    $a3
$sweet:                     $a5
$misc:                      $a1

$wineList:                  (sparkling $sparkling, white $white, red $red, rose $rose, orange $orange, sweet $sweet, misc $misc)

// Fonts

$fontHead:                  'Arial', sans-serif
$fontText:                  'Arial', sans-serif

$fontBase:                  22px

$h1:                        72px
$h2:                        34px
$h3:                        30px

// Sizes

$globalSpace:               100px
$globalSubtract:            20px
$headerHeight:              200px
$footerHeight:              50px

$xl:                        1600px
$lg:                        1440px
$md:                        1024px
$sm:                        800px
$xs:                        640px
$xs2:                       480px
$xs3:                       320px

$maxWidth:                  $xl

$paddingList:               ($md, $sm, $xs, $xs2)
$hideList:                  (XL $xl, LG $lg, MD $md, SM $sm, XS $xs, XS2 $xs2, XS3 $xs3)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'