// Animations

+keyframes(logoP)

    0%

        fill: $primary

    49%

        fill: $primary

    50%

        fill: $secondary


    100%

        fill: $secondary

+keyframes(logoS)

    0%

        fill: $secondary

    49%

        fill: $secondary

    50%

        fill: $primary

    100%

        fill: $primary

+keyframes(logoA)

    0%
        
        +transform(translateY, 0)

    25%
        
        +transform(translateY, 30px)

    50%

        +transform(translateY, 0)

    75%

        +transform(translateY, 30px)

    100%
        
        +transform(translateY, 0)

+keyframes(logoB)

    0%
        
        +transform(translateY, 0)

    25%
        
        +transform(translateY, -30px)

    50%

        +transform(translateY, 0)

    75%

        +transform(translateY, -30px)

    100%
        
        +transform(translateY, 0)

+keyframes(logoC)

    0%
        
        +transform(translateY, 0)

    25%
        
        +transform(translateY, 150px)

    50%

        +transform(translateY, 0)

    75%

        +transform(translateY, 150px)

    100%
        
        +transform(translateY, 0)

+keyframes(logoD)

    0%
        
        +transform(translateY, 0)

    25%
        
        +transform(translateY, -150px)

    50%

        +transform(translateY, 0)

    75%

        +transform(translateY, -150px)

    100%
        
        +transform(translateY, 0)

+keyframes(bottleMove)

    0%

        +transform((scale, translateY, rotate), (1.7, 0, 0deg))

    50%

        +transform((scale, translateY, rotate), (1.7, -10px, 1deg))

    100%

        +transform((scale, translateY, rotate), (1.7, 0, 0deg))

+keyframes(bottleRotate)

    0%

        +transform(translateY, 0)

    24.9999%

        +transform(translateY, 0)

    25%

        +transform(translateY, -25%)

    49.9999%

        +transform(translateY, -25%)

    50%

        +transform(translateY, -50%)

    74.9999%

        +transform(translateY, -50%)

    75%

        +transform(translateY, -75%)

    99.9999%

        +transform(translateY, -75%)

    100%

        +transform(translateY, 0)