// Animations

+keyframes(logoP)

    0%

        fill: $primary
        stroke: $primary

    49%

        fill: $primary
        stroke: $primary

    50%

        fill: $secondary
        stroke: $secondary


    100%

        fill: $secondary
        stroke: $secondary

+keyframes(logoS)

    0%

        fill: $secondary
        stroke: $secondary

    49%

        fill: $secondary
        stroke: $secondary

    50%

        fill: $primary
        stroke: $primary

    100%

        fill: $primary
        stroke: $primary