// Colours

@each $label, $colour in $wineList

    .-b-#{$label}

        @if $label == white

            $c: darken($colour, 5%)

            background-color: $c

            // Pseudo

            &:before

                background-color: darken($c, 5%)

        @else

            $c: lighten($colour, 15%)

            background-color: $c

            // Pseudo

            &:before

                background-color: $colour

        // Children

        span.type

            background-color: $colour

    .-p-#{$label}

        // Children

        .-img

            @if $label == white

                $g1: darken($colour, 7%)
                $g2: darken($colour, 3%)

                background-image: repeating-radial-gradient(circle at 0% 0%, $g1, $g1 50px, $g2, $g2 50px 100px)

            @else

                $g1: lighten($colour, 5%)
                $g2: lighten($colour, 10%)

                background-image: repeating-radial-gradient(circle at 0% 0%, $g1, $g1 50px, $g2, $g2 50px 100px)

    .-r-#{$label}

        @if $label == white

            $c: darken($colour, 3%)

            background-color: $c

        @else

            background-color: $colour