// Typography

h1, h2, h3

    display: inline-block

h1

    font-family: $fontHead
    font-size: $h1
    font-weight: 700

    // Responsive

    +screen($md)

        font-size: $h1 - 10px

    +screen($sm)

        font-size: $h1 - 20px

    +screen($xs)

        font-size: $h1 - 40px

h2

    font-size: $h2
    font-weight: 600

    // Responsive

    +screen($md)

        font-size: $h2 - 10px

h3

    font-size: $h3
    font-weight: 600

    // Responsive

    +screen($md)

        font-size: $h3 - 10px

//

a

    text-decoration: none
    text-transform: uppercase

    color: $link

    cursor: pointer

    +transition(color, .1s)

    // States

    &:hover

        color: $primary

    // Classes

    &.backLink

        display: block

        margin-bottom: $globalSpace / 4

p

    margin-bottom: $globalSpace / 3

    font-size: $fontBase * 1.2

    // Responsive

    +screen($xs)

        font-size: $fontBase

    // Pseudo

    &:last-child

        margin-bottom: 0

    // Children

    a

        display: inline-block
        margin: 0

        font-weight: 400
        text-transform: none

ol

    counter-reset: c404

    // Classes

    &.list

        li

            position: relative
            display: block

            margin-bottom: $globalSpace / 4
            padding-left: 60px

            font-size: $fontBase * 1.4

            counter-increment: c404

            // Pseudo

            &:before

                content: counter(c404)

                position: absolute

                top: 0
                left: 0

                width: 40px
                height: 40px

                font-size: $fontBase - 2px
                text-align: center
                line-height: 40px

                background-color: $secondary
                color: $dark

            &:nth-child(2n + 1):before

                background-color: $primary

ul

    // Classes

    &.tags

        // Children

        li

            display: inline-block

            // Pseudo

            &:after

                content: ','

            &:nth-last-child(2):after

                content: ' and '

            &:last-child:after

                content: '.'

    // Children

    li

blockquote