<!DOCTYPE html>
<html>
{% include head.html %}
<body>

    <!-- Prepare image filename -->

    {% assign imgLink = page.title | remove: "." | remove: "," | remove: "'" | replace: "é", "e" | replace: " ", "-" %}
    {% assign imgClass = page.type | replace: "é", "e" | downcase %}

    {% include header.html %}

    <main>

        <section class="single -p-{{ imgClass }}">

            <div class="title">

                <a href="/">Back to blog</a>

                <h1>{{ page.title }}</h1>

                <a class="watchEpisode">Watch Episode</a>

            </div>

            <div class="vid">
                <iframe src='https://www.youtube.com/embed/{{ page.video }}' frameborder='0' allowfullscreen></iframe>
            </div>

            <div class="group">

                <div class="col -img">

                    <img srcset="/assets/img/wines/{{ imgLink }}@2x.png 2x, /assets/img/wines/{{ imgLink }}.png" src="/assets/img/wines/{{ imgLink }}@2x.png" alt="{{ page.title }}" title="{{ page.title }}">

                </div>

                <div class="col -text">

                    {{ content }}

                </div>

            </div>

            <div class="details">

                <div class="item">

                    <h3>Wine details</h3>

                    <ul>
                        <li>{{ page.type }}</li>
                        <li>{{ page.vintage }}</li>
                        <li>{{ page.grape }}</li>
                        <li>{{ page.abv }}</li>
                        <li>{{ page.region }}</li>
                    </ul>

                </div>

                <div class="item">

                    <h3>Our rating</h3>
                    <span class="rating -{{ page.rating }}"></span>

                </div>

                <div class="item">

                    <h3>Food pairings</h3>

                    <ul>
                        {% for pairing in page.pairings %}
                        <li>{{ pairing }}</li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="item">

                    <h3>Character</h3>

                    <ul class="tags">
                        {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

            <div class="images">

                <div class="pattern">

                    <img src="/assets/img/blank.png" alt="{{ page.title }}" style="background-image: url('/assets/img/wines/{{ imgLink }}@2x.png');" title="{{ page.title }}">

                </div>

                <div class="rotate -r-{{ imgClass }}">

                    <img srcset="/assets/img/wines/rotate/Rose-is-the-New-Black-r1@2x.png 2x, /assets/img/wines/rotate/Rose-is-the-New-Black-r1.png" src="/assets/img/wines/rotate/Rose-is-the-New-Black-r1@2x.png" alt="{{ page.title }}" title="{{ page.title }}">
                    <img srcset="/assets/img/wines/rotate/Rose-is-the-New-Black-r2@2x.png 2x, /assets/img/wines/rotate/Rose-is-the-New-Black-r2.png" src="/assets/img/wines/rotate/Rose-is-the-New-Black-r2@2x.png" alt="{{ page.title }}" title="{{ page.title }}">
                    <img srcset="/assets/img/wines/rotate/Rose-is-the-New-Black-r3@2x.png 2x, /assets/img/wines/rotate/Rose-is-the-New-Black-r3.png" src="/assets/img/wines/rotate/Rose-is-the-New-Black-r3@2x.png" alt="{{ page.title }}" title="{{ page.title }}">
                    <img srcset="/assets/img/wines/rotate/Rose-is-the-New-Black-r4@2x.png 2x, /assets/img/wines/rotate/Rose-is-the-New-Black-r4.png" src="/assets/img/wines/rotate/Rose-is-the-New-Black-r4@2x.png" alt="{{ page.title }}" title="{{ page.title }}">

                </div>

            </div>

        </section>

    </main>

    {% include footer.html %}

    <script src="/assets/js/post.js"></script>

</body>
</html>